footer.footer
  .container
    .row
      .col.l3.m3.s12
          img(src='images/logo.svg', alt='').foot-logo
      .col.l2.m3.s12
        ul.foot-nav
          li
            a(href='#') About us
          li
            a(href='#') Events 
          li
            a(href='#') Foundation works 
          li
            a(href='#') Projects
      .col.l2.m3.s12
        ul.foot-nav
          li
            a(href='#') CSR
          li
            span Supporters 
          li
            a(href='#') Media 
          li
            a(href='#') Contacts
      .col.l2.m3.s12.right.align-right
        ul.foot-nav
          li
            | Our contacts
          li
            a(href='tel:+18006036035') +1 800 603 6035 
          li
            a(href='mailto:info@tulsun.com') info@tulsun.com 
    .row
      .bottom-footer
        .col.s6.align-left
          | © 2016, Tulsun. All rights reserved.
        .col.s6.align-right
          | Site development and support - 
          a(href='https://artjoker.net/', target='_blank') Artjoker
#modal-thank.modal
  .modal-content
    a.modal-action.modal-close(href='#!')
      span.icon-ico27
    .container
      .modal-head
        | Thank you! <br>
        | Your letter has been sent
      .modal-body
        p Our managers will contact you within 15 minutes
        a.waves-effect.waves-light.btn.btn-yelow.modal-close(href="#!") close
#modal1.modal
  .modal-content
    a.modal-action.modal-close(href='#!')
      span.icon-ico27
    .container
      .modal-head
        | Richard Branson <br>
        | CEO Avantic co.
      .modal-body
        p Helped to start a safe water program helping vulnerable women and their children. This program led to the founding of a local organization called Clear Cambodia, and has expanded now to impact hundreds of thousands of people throughout Cambodia.
        a.waves-effect.waves-light.btn.btn-yelow.modal-close(href="#!") close
script(type='text/javascript', src='js/all-plugins.min.js')
script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?sensor=false')
script(type='text/javascript', src='js/main.js')